@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Plus+Jakarta+Sans&display=swap');

@font-face {
  font-family: "Quantum";
  src: url("../media/Quantumfixed.ttf");
}

@font-face {
  font-family: "Brolink";
  src: url("../media/brolink.otf") format("opentype");
}


:root {
  --highlight: #0099f0;
  --bg: #0C0C0A;
  --gray: $727171;
  --head: 'Josefin Sans', sans-serif;
  --body: 'Plus Jakarta Sans', sans-serif;

  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: var(--body);
  font-size: 1.35rem;
  line-height: 3rem;
  background-color: var(--bg);
}

.logo {
  background-color: transparent;
}

.logo > a > img {
  width: 3rem;
  margin-left: 15px;
  margin-top:15px;
  position: fixed;
}

.splash {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  overflow: hidden;
}

.splash .splash-img {
  background-image: url("../media/splash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  filter: blur(3px);
}

.splash-inner {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.splash-inner h1 {
  font-family: "Quantum";
}

.splash-inner .button {
  background-color: transparent;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  padding: 0 7rem;
  transition: all 0.4s ease;
  margin: 1rem;
  cursor: pointer;
}

.splash-inner .button:hover {
  background-color: white;
  color: black;
}

a.invis {
  transform: scale(0);
}

a.back {
  transform: scale(1);
}

/********** MAIN /**********/

main {
  background-color: var(--bg);
  color: white;
  margin-left: 4vh;
  margin-right: 4vh;
  margin-bottom: 10vh;
  margin-top: 2vh;
}


main h1 {
  text-align: center;
  font-size: 4rem;
  font-family: var(--head);
}

main h3 {
  font-size: 2rem;
  font-family: var(--head);
  text-decoration: underline;
  margin-bottom: 1vh;
}

main p {
}

section {
  background-color: var(--nord0);
}

section .container-overview {
  background:
    linear-gradient(to right, var(--nord11) 10px, transparent 10px) 0 0,
    linear-gradient(to right, var(--nord11) 10px, transparent 10px) 0 100%,
    linear-gradient(to left, var(--nord11) 10px, transparent 10px) 100% 0,
    linear-gradient(to left, var(--nord11) 10px, transparent 10px) 100% 100%,
    linear-gradient(to bottom, var(--nord11) 10px, transparent 10px) 0 0,
    linear-gradient(to bottom, var(--nord11) 10px, transparent 10px) 100% 0,
    linear-gradient(to top, var(--nord11) 10px, transparent 10px) 0 100%,
    linear-gradient(to top, var(--nord11) 10px, transparent 10px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 45px 45px;
  padding: 0 2em;
  margin-bottom: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
}

section .container-overview h1,
section .container-overview h3 {
  color: var(--nord11);
}

section .container-drive {
  background:
    linear-gradient(to right, var(--nord12) 10px, transparent 10px) 0 0,
    linear-gradient(to right, var(--nord12) 10px, transparent 10px) 0 100%,
    linear-gradient(to left, var(--nord12) 10px, transparent 10px) 100% 0,
    linear-gradient(to left, var(--nord12) 10px, transparent 10px) 100% 100%,
    linear-gradient(to bottom, var(--nord12) 10px, transparent 10px) 0 0,
    linear-gradient(to bottom, var(--nord12) 10px, transparent 10px) 100% 0,
    linear-gradient(to top, var(--nord12) 10px, transparent 10px) 0 100%,
    linear-gradient(to top, var(--nord12) 10px, transparent 10px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 45px 45px;
  padding: 0 2em;
  margin-bottom: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
}
section .container-drive h1,
section .container-drive h3 {
  color: var(--nord12);
}


section .container-cv {
  background:
    linear-gradient(to right, var(--nord8) 10px, transparent 10px) 0 0,
    linear-gradient(to right, var(--nord8) 10px, transparent 10px) 0 100%,
    linear-gradient(to left, var(--nord8) 10px, transparent 10px) 100% 0,
    linear-gradient(to left, var(--nord8) 10px, transparent 10px) 100% 100%,
    linear-gradient(to bottom, var(--nord8) 10px, transparent 10px) 0 0,
    linear-gradient(to bottom, var(--nord8) 10px, transparent 10px) 100% 0,
    linear-gradient(to top, var(--nord8) 10px, transparent 10px) 0 100%,
    linear-gradient(to top, var(--nord8) 10px, transparent 10px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 45px 45px;
  padding: 0 2em;
  margin-bottom: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
}
section .container-cv h1,
section .container-cv h3 {
  color: var(--nord8);
}



img {
  width: 30%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1vh;
}

.white-bg {
  background-color: white;
}

.center {
  text-align: center;
  font-size: 16px;
  margin-top: 0.5vh;
}

main a {
    color: var(--nord9);
}